#defaultCanvas0 {
    position: absolute;
    z-index: -1;
    left:        50%;        /* Start with top left in the center */
    top:         50%;
    margin-left: -500px;     /* Shift over half the width */
    margin-top:  -500px;      /* Shift up half the height */
}

#p5play-intro {
    opacity: 0;
}

*{
    background-color: #0B3948;
}

#title-screen{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background: none;
    left:        50%;        /* Start with top left in the center */
    top:         50%;
    width:       200px;      /* The fixed width... */
    height:      100px;      /* ...and height */
    margin-left: -100px;     /* Shift over half the width */
    margin-top:  -300px;      /* Shift up half the height */
}

.titleButtons{
    border: none;
    background: none;
}

#title-screen-img{
    background: none;
    scale: 2;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border-image-repeat: stretch;
}

#nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-links{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    padding: 5%;
    margin: 5%;
    align-self: center;
    justify-self: center;
    text-shadow: 3px 5px 7px #171717;
}

.nav-links:hover{
    text-decoration: none;
    color: #adafbc;
}

#about-link{
    grid-column-start: 2;
    
}

#home-link{
    grid-column-start: 5;
}

#game-link{
    grid-column-start: 7;
}

#profile-link{
    grid-column-start: 8;
}

.keyboard-base {
    max-width: max-content;
    padding: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm){
    .key.nes-btn {
        border-image-repeat: stretch;
    }
}


.key {
    /* /* background-color: rgb(243, 243, 243); */
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    grid-column: span 2;
    /* font-size: 20px; */
    text-align: center;
    /* padding-top: 17px;  */
}

@keyframes press {
    0% {
        background-color: #fff; 
    }
    100% {
        background-color: #adafbc;
    }
}

.pressed {
    color: green;
    animation-name: press;
    animation-duration: 2s;
    /* color: #212529; */
    /* text-decoration: none;
    color: #bfbfbf;
    position: absolute; */
    /* box-shadow: inset 4px 4px #adafbc; */
}

.delete {
    grid-column: span 4;
    font-size: 13px;
}

.tab {
    grid-column: span 3;
}

.backslash {
    grid-column: span 3;
}

.capslock {
    grid-column: span 4;
    font-size: 15px;
}

.return {
    grid-column: span 4;
    font-size: 13px;
}

.leftshift {
    grid-column: span 5;
}

.rightshift {
    grid-column: span 5;
    
}

.leftctrl {
    grid-column: span 3;
    font-size: 12px;
}

.rightctrl{
    font-size: 9px;
    justify-self: left;
    max-width: 50px;
}

#alt-key {
    font-size: 9px;
    justify-self: center;
}

.command {
    grid-column: span 3;
    font-size: 12px;
    
}

.space {
    grid-column: span 13;
}

#fn-key {
    font-size: 11px;
}
