* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 16px;
}

#p5play-intro {
    opacity: 0;
}

body {
    background: url("assets/home/background.png")  no-repeat center center fixed;
    background-color: #0B3948;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-links{
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    padding: 10%;
    margin: 15%;
    align-self: center;
    justify-self: center;
    text-shadow: 3px 5px 7px #171717;
}

#about-link{
    grid-column-start: 2;
    
}

#home-link{
    grid-column-start: 5;
}

#game-link{
    grid-column-start: 7;
}

#profile-link{
    grid-column-start: 8;
}

#play-button-and-text {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    max-width: 1000px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #17171748;
    border-radius: 10px;
}

#play-button {
    background-color: #ffffff;
    color: #171717;
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 5px 7px #171717;
    justify-self: center;
}

#play-button:hover{
    background-color: #a1a1a1;
}

#home-text{
    color: white;
    font-size: 32px; 
    text-shadow: 3px 5px 7px #171717;
    max-width: 520px;
    display: flex;
    flex-direction: column;
}

#light-text{
    color: rgb(237, 209, 0);
    font-size: 32px; 
    text-shadow: 3px 5px 7px #171717;
    max-width: 500px;
    margin-top: 5px;
}

#home-text-1{
    color: white;
    font-size: 32px; 
    text-shadow: 3px 5px 7px #171717;
}

#home-text-2{
    color: white;
    font-size: 32px; 
    text-shadow: 3px 5px 7px #171717;
}

#fingertips-text{
    color: #0099DB;
    font-size: 32px; 
    text-shadow: 3px 5px 7px #171717;
    margin-top: 5px;
    max-width: 500px;
}
